.container
  .jumbotron.text-center
    .row
      %h2
        GC Client
    .row
      %p
        GatherContent is annoying. Why not build a resource to list all projects and pull down what you need?
      