.container
  .jumbotron.text-center
    .row
      %h2
        GC Client
    .row
      %p
        GatherContent is annoying. Why not build a resource to list all projects and pull down what you need?
  .jumbotron
    .row
      .panel.panel-default
        .panel-heading
          %h3
            G5 Projects in GatherContent
        .panel-body
          - @user_projects.each do |project|
            .col-md-6
              .panel
                %p
                  = project.name
            .col-md-4-offset-6
              .panel
                %p
                  = link_to 'Show details', project_overview_path(:id => project.id)

      