.container
  .jumbotron
    .row
      .panel.panel-default
        .panel-heading
          %h3
            Break it down for
            = @magic_name
            (
            = @magic_number
            )
        .panel-body
          - @page_array.each do |page|
            - if page.parent_id == "0"
              .panel
                %h3
                  = page.name
            - else
              %p
                = page.name         
    